{% extends "chart_examples/base.html" %}
{% load tethys_gizmos %}

{% block app_navigation_items %}
{# Use the app navigation pane for quick scrolling to chart #}
<h3>Quick Navigation</h3>
<li><a href="#single-timeseries-plot">Single Timeseries Plot</a></li>
<li><a href="#multi-timeseries-plot">Multi Timeseries Plot</a></li>
<li><a href="#area-range-plot">Area Range Plot</a></li>
{% endblock %}

{% block app_content %}
<a name="single-timeseries-plot"></a>
<div class="plot">
    <h4>Single Time Series Plot</h4>
    {% gizmo plot_view timeseries_plot %}
</div>
<a name="multi-timeseries-plot"></a>
{# add a spacer the size of the title bar (this is a quick scrolling hack and is not recommended for production use #}
<div style="height:60px;"></div>
<div class="plot">
    <h4>Multiple Time Series Plot</h4>
    {% gizmo plot_view multi_timeseries_plot %}
</div>
<a name="area-range-plot"></a>
{# add a spacer the size of the title bar (this is a quick scrolling hack and is not recommended for production use #}
<div style="height:60px;"></div>
<div class="plot">
    <h4>Area Range Plot</h4>
    {% gizmo plot_view area_range_plot %}
</div>
{% endblock %}

{% block app_actions %}
{% endblock %}